main {
    display: flex; 
    flex-direction: column; 
    align-items: center;    
    text-align: center; 
    padding: 20px;
}

.titulo-form h1 {
    font-size: 40px;
    color: #ffd700;
    margin-bottom: 20px;  
}

.voltar-menu p {
    font-size: 18px; 
    color: #ffffff;
}

.voltar-menu a {
    text-decoration: none;
    color: #ffffff; 
    font-weight: bold;
}

.voltar-menu p:hover {
    transform: scale(1.05);
}

.img-form img{
    width: 300px;
}

.img-form img:hover{
    transform: scale(1.05);
}